nav{
  background-color: rgba(255, 255, 255, 0.2);
  margin: 0px auto;
  text-align: center;
  z-index: 999;
  padding-top: 15px; 
  
}

nav ul{
  padding: 11px;
  
}

nav li{
  color: #000000;
  font-size: large;
  letter-spacing: 2px;
  margin: 20px;
  display: inline;
  font-family: 'Montserrat', sans-serif;
  text-transform: Uppercase;
}
nav img{float:left;
        padding: 5px;}

nav a:link,a:active,a:focus,a:visited{
    text-decoration: none;
    color:black
}

nav a:hover{
    text-shadow: 5px 3px darkgrey;
}

.content-box-about {
  /*background: url(../images/code.png) no-repeat; 
  background-size: cover; 
  opacity: .05;*/
  height: auto;
  /*margin: 0 auto;*/
  position: relative;
  top: 50px;
  width: auto;
  text-align: center;
  overflow:scroll;
  font-family: 'Muli', sans-serif;

}
.content-box-about::after{
  background: url(../images/code.png) no-repeat; 
  background-size: cover; 
  content: "";
  opacity: 0.05;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;  
}

.content-box {
  /*background: url(../images/code.png) no-repeat; 
  background-size: cover; 
  opacity: .05;*/
  height: 500px;
  /*margin: 0 auto;*/
  position: relative;
  top: 50px;
  width: 85%;
  text-align: center;
  overflow:scroll;
  font-family: 'Muli', sans-serif;

}
.content-box::after{
  background: url(../images/code.png) no-repeat; 
  background-size: cover; 
  content: "";
  opacity: 0.05;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;  
}
.content-header {
  position: relative;
  top: -5px;
  right:30px;
  height: 20px;
}
.content-header h1 {
  font-size: large;
  font-weight: 400;
  letter-spacing: 2px;
  text-transform: uppercase; 
  text-decoration: none;
}

#rob {

    position: relative;
    right: 30px;

}
 #sta {
  position:relative;
  top: 40px;
  padding: 0px 55px 0px 55px; 
  }

.content-body {
  margin: 0 auto;
  position: relative;
  right:55px;
}

.content-header li{
  letter-spacing: 2px;
  display:inline;
  padding:10px 4px;
  position: relative;
  top: 40px  
  
}

.content-header, .content-body a:link,a:active,a:focus,a:visited{
    text-decoration: none;
    color:black
}

 a:hover{
    text-shadow: 5px 3px lightgrey;
}

.content-body li{list-style-type: none;
                 display: inline-block;
                 margin-bottom: 3px;
                 padding: 25px 40px;
                 width: 200px; 
                 position: relative;
                 top: 55px;
                
               
}
.hidden {display:none;}
 
.container{max-height: 600px;
max-width: 500px;
position: relative;
right: 15px;}

.content-body-e{
  margin: 0 auto;
  position: relative;
  right:30px;
  top: 55px;
}
.content-header-e {
  position: relative;
  top: -5px;
  right:40px;
  height: 20px;
}
.content-header-e h1 {
  font-size: large;
  font-weight: 400;
  letter-spacing: 2px;
  text-transform: uppercase; 
  text-decoration: none;
  position: relative;
  left: 5px;
}
#rob-e {

    position: relative;
    right: 15px;
}
#ap {
  position: relative;
  right: 2px;

}
.content-body-e li{
  position:relative;
  right: 45px; 
  list-style-position: inside;
}
  #etop {position: relative;
    left: 4px;}

    .cst_hide {
      display: none;
    }